<!-- side navigation -->
{% if not App.user.isGuest() %}
<nav id="side_nav">
    <ul>
        <li>
            <a href="{{ '' | alink }}"><span class="ion-speedometer"></span> <span class="nav_title">Dashboard</span></a>
        </li>
        <li>
            <a href="#">
                <span class="ion-clipboard"></span>
                <span class="nav_title">Pages</span>
            </a>
            <div class="sub_panel">
                <div class="side_inner">
                    <h4 class="panel_heading panel_heading_first">Landing Pages</h4>
                    <ul>
                        <li><a href="{{ 'pages/view' | alink }}"><span class="side_icon ion-ios7-folder-outline"></span>Daftar Landing Page</a></li>
                        <li><a href="{{ 'pages/create' | alink }}"><span class="side_icon ion-ios7-star-outline"></span> Tambah Baru</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <span class="ion-compose"></span>
                <span class="nav_title">Blog</span>
            </a>
            <div class="sub_panel">
                <div class="side_inner">
                    <h4 class="panel_heading panel_heading_first">Blog</h4>
                    <ul>
                        <li><a href="{{ 'posts/view' | alink }}"><span class="side_icon ion-ios7-folder-outline"></span>Daftar Postingan</a></li>
                        <li><a href="{{ 'posts/create' | alink }}"><span class="side_icon ion-ios7-star-outline"></span>Tambah Postingan Baru</a></li>
                        <li><a href="{{ 'posts/comments' | alink }}"><span class="side_icon ion-ios7-paperplane-outline"></span>Daftar Komentar</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <span class="ion-monitor"></span>
                <span class="nav_title">Appearance</span>
            </a>
            <div class="sub_panel">
                <div class="side_inner">
                    <h4 class="panel_heading panel_heading_first">Appearance</h4>
                    <ul>
                        <li><a href="{{ 'themes/view' | alink }}"><span class="side_icon ion-ios7-folder-outline"></span> Theme</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <span class="ion-settings"></span>
                <span class="nav_title">Manage</span>
            </a>
            <div class="sub_panel">
                <div class="side_inner">
                    <h4 class="panel_heading panel_heading_first">Manage</h4>
                    <ul>
                        <li><a href="{{ 'users/view' | alink }}"><span class="side_icon ion-ios7-folder-outline"></span> User</a></li>
                        <li><a href="{{ 'users/group' | alink }}"><span class="side_icon ion-ios7-folder-outline"></span> User Goup</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>
{% endif %}
