<!-- right slidebar -->
<div id="slidebar">
    <div id="slidebar_content">
        <div class="events_list">
            <div class="events_date clearfix">
                <span class="event_date_big ion-ios7-briefcase-outline"></span>
                <span class="event_date_day">Ekstensi</span>
                <span class="event_date_full">Aplikasi tambahan</span>
            </div>
        </div>
        <hr>
        <div class="events_list">
            {% set exts = App.optionModel.getInstalledExtensions() %}
            {% if exts %}
                {% for e, ext in exts %}
                <div class="event_item">
                    <div class="event_hour">
                        <img src="{{ ext.icon | link }}"/>
                    </div>
                    <ul class="event_content">
                        <li>
                            <p>{{ ext.name }}</p>
                            <span>version {{ ext.version }}</span>
                        </li>
                        {% if ext.menu %}
                            {% for em, menu in ext.menu %}
                                <li>
                                    <p><a href="{{ menu.url | link }}">{{ menu.label }}</a></p>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                {% endfor %}
            {% else %}
                Tidak ada ekstensi yang terpasang.
            {% endif %}
        </div>
    </div>
</div>
