<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'images/favicon.ico' | asset_url }}" />
    <link href="{{ 'css/bootstrap.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'css/settings.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'js/google-code-prettify/prettify.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'css/style.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'css/color/green.css' | asset_url }}" rel="stylesheet">
    <link href='{{ "fonts.googleapis.com/css4ef4.css?family=Roboto:400,400italic,500,500italic,700italic,700,900,900italic,300italic,300,100italic,100" | asset_url }}' rel='stylesheet' type='text/css'>
    <link href='{{ "fonts.googleapis.com/cssc7ef.css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300" | asset_url }}' rel='stylesheet' type='text/css'>
    <link href='{{ "fonts.googleapis.com/css6cc7.css?family=Roboto+Slab:400,700,300,100" | asset_url }}' rel='stylesheet' type='text/css'>
    <link href="{{ 'type/fontello.css' | asset_url }}" rel="stylesheet">
</head>
<body>
<div class="body-wrapper">
    <div id="header" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".nav-collapse">
                    <i class='icon-menu-1'></i>
                </a>
                <a class="brand" href="{{ '' | link }}">
                    <img src="{{ 'images/logo.png' | asset_url  }}" alt="" />
                </a>
                <div class="nav-collapse pull-right collapse">
                    <ul class="nav">
                        <li><a href="{{ '' | link }}">Beranda</a></li>
                        <li><a href="{{ 'tentang-kami' | link }}">Wawasan</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Tutorial</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Blog with Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ 'kontak-kami' | link }}">Kontak</a></li>
                    </ul>
                </div>
                <!-- .nav-collapse -->
            </div>
            <!-- .container -->
        </div>
        <!-- .navbav-inner -->
    </div>
    <!-- .navbar -->

    {% block content %}{% endblock %}

    <footer class="black-wrapper">
        <div class="container inner">
            <p class="pull-left">© {{ now | date('Y') }} {{ App.name }}. All rights reserved.</p>
            <ul class="social pull-right">
                <li><a href="#"><i class="icon-s-rss"></i></a></li>
                <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
            </ul>
        </div>
        <!-- .container -->
    </footer>
    <!-- /footer -->

</div>
<script src="{{ 'js/jquery.js' | asset_url }}"></script>
<script src="{{ 'js/bootstrap.min.js' | asset_url }}"></script>
<script src="{{ 'js/twitter-bootstrap-hover-dropdown.min.js' | asset_url }}"></script>
<script src="{{ 'js/jquery.themepunch.plugins.min.js' | asset_url }}"></script>
<script src="{{ 'js/jquery.themepunch.showbizpro.min.js' | asset_url }}"></script>
<script src="{{ 'js/jquery.isotope.min.js' | asset_url }}"></script>
<script src="{{ 'js/jquery.hoverdir.min.js' | asset_url }}"></script>
<script src="{{ 'js/jquery.easytabs.min.js' | asset_url }}"></script>
<script src="{{ 'js/view.min9df2.js?auto' | asset_url }}"></script>
<script src="{{ 'js/scripts.js' | asset_url }}"></script>
{% block js %}{% endblock %}
</body>
</html>