{% extends "layout.html" %}
{% block pagetitle %}
Update Blog Post - {{ App.name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
	<div class="page_content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Update Blog Post</div>
						<div class="panel-body">
							{% if message %}
							<div class="alert {% if success %}alert-success{% else %}alert-warning{% endif %}">{{ message }}</div>
							{% endif %}
							<form method="post" name="page-create">
								<ul class="nav nav-tabs nav-justified">
									{% for language in languages %}
									<li {% if language.is_default %}class="active"{% endif %}>
										<a data-toggle="tab" href="#language-{{ language.code }}">
											<i class="glyphicon glyphicon-file"></i> <strong>{{ language.language_name }}</strong>
										</a>
									</li>
									{% endfor %}
								</ul>
								<div class="tab-content">
									{% for language in languages %}
									<div id="language-{{ language.code }}" class="tab-pane {% if language.is_default %}active{% endif %}">
										<div class="form-group col-sm-6">
											<label>Title</label>
											<input type="text" name="PostContent[title][{{ language.id }}]" class="form-control" value="{{ post.content[language.id].title}}" lang="{{ language.id }}" onchange="getSlug(this)">
										</div>
										<div class="form-group col-sm-6">
											<label>Permalink</label>
											<input type="text" name="PostContent[slug][{{ language.id }}]" class="form-control" id="slug-{{ language.id }}" value="{{ post.content[language.id].slug}}">
										</div>
										<div class="form-group col-sm-12">
											<label>Content</label>
											<textarea class="form-control editor" name="PostContent[content][{{ language.id }}]" style="min-height:200px;">{{ post.content[language.id].content }}</textarea>
										</div>
										<input type="hidden" name="PostContent[language][{{ language.id }}]" value="{{ language.id }}">
										<div class="form-group col-sm-6">
											<label>Meta Keywords</label>
											<input type="text" name="PostContent[meta_keywords][{{ language.id }}]" class="form-control" value="{{ post.content[language.id].meta_keywords }}">
										</div>
										<div class="form-group col-sm-6">
											<label>Meta Description</label>
											<textarea name="PostContent[meta_description][{{ language.id }}]" class="form-control">{{ post.content[language.id].meta_description }}</textarea>
										</div>
									</div>
									{% endfor %}
								</div>
								<input type="hidden" name="Post[post_type]" value="post">
								<div class="form-group col-sm-6">
									<label>Category</label>
									<select name="Post[post_category][]" class="form-control multiple" multiple="true">
										{% for category in categories %}
										<option value="{{ category.id }}" {% if category.id in post.category %}selected="selected"{% endif %}>{{ category.category_name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group col-sm-6">
									<label>Tags</label>
									<input type="text" name="Post[tags]" class="form-control" placeholder="Please separate with ','. Ex : domain, whois" value="{{ post.tags_string }}">
								</div>
								<div class="form-group col-sm-6">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Post[allow_comment]" {% if post.allow_comment %}checked="checked"{% endif %}>
											<b>Allow Comment</b>
										</label>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label>Status</label>
									{% for status_code, status_name in status_list %}
									<label class="radio-inline">
										<input type="radio" name="Post[status]" id="optionsRadios1" value="{{ status_code }}" {% if status_code == post.status %}checked="checked"{% endif %}>
										{{ status_name }}
									</label>
									{% endfor %}
								</div>
								<div class="form-group col-sm-12">
									<input type="submit" name="Submit" value="Create" class="btn btn-success btn-submit">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block endbodyjs %}
<script type="text/javascript" src="{{ 'lib/wysihtml5/wysihtml5.min.js' | admin_asset_url }}"></script>
<script type="text/javascript" src="{{ 'lib//wysihtml5/toolbar.js' | admin_asset_url }}"></script>
<link rel='stylesheet' type='text/css' href="{{ 'lib/wysihtml5/bootstrap-wysihtml5.css' | admin_asset_url }}">
<script type="text/javascript">
	$(function(){
		$('.editor').wysihtml5({
		});
		var success_message = "{{ message }}";
		if (success_message && success_message.length > 0) {
			setTimeout(function () {
				window.location.href = "{{ 'posts/update' | alink }}/{{ post.id }}";
			}, 3000);
		}
	});
	function getSlug(data){
		var lang = $(data).attr('lang');
		$.ajax({
			'beforeSend': function() {  },
			'complete': function() {  },
			'url': "{{ 'posts/get-slug' | alink }}",
			'type':'post',
			'data':{'title':$(data).val()},
			'success': function(data) {
				$('#slug-'+lang).attr('value',data);
			}
		});
	}
</script>
{% endblock %}
