{% extends "layout.html" %}
{% block pagetitle %}
Update - {{ data.page }} - {{ App.name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ data.page }}</div>
						{% if message %}
							<div class="alert alert-success">{{ message }}</div>
						{% endif %}
						<form method="post" name="page-update">
                            {% for i,val in data %}
								{% if i != 'content' %}
                            		<input type="hidden" name="{{ i }}" value="{{ val }}">
								{% endif %}
                            {% endfor %}
                            <textarea id="page-content" style="height: 350px; width: 100%;" name="content">{{ data.content  }}</textarea>
                        	<div class="form-group">
                                <input type="submit" name="Submit" value="Update Content" class="btn btn-success btn-submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/editarea/edit_area_full.js' | admin_asset_url }}"></script>
<script type="text/javascript">
$(function(){
	editAreaLoader.init({
		id: "page-content"	// id of the textarea to transform		
		,start_highlight: true	// if start with highlight
		,allow_resize: "both"
		,allow_toggle: true
		,word_wrap: true
		,language: "en"
		,syntax: "html"	
	});
});
</script>
{% endblock %}
