{% extends "partial/layout.html" %}
{% block pagetitle %}
Kontak - {{ App.name }}
{% endblock %}

{% block content %}
<div class="offset"></div>
<div class="map">
    {#<iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=207252500814404613616.0004dbcb6e23f7b275953&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=51.504255,-0.101452&amp;spn=0.026713,0.100336&amp;z=14&amp;output=embed"></iframe>#}
</div>
<div class="container inner">
    <div class="row">
        <div class="span8">
            <h1 class="post-title">Feel Free to Drop Us a Line</h1>
            <p>Maecenas vehicula condimentum consequat. Ut suscipit ipsum eget leotero convallis feugiat upsoyut fermentum leo auctor consequat turpis aturo nisiper.</p>
            <div class="divide20"></div>
            <div class="form-container">
                <div class="response alert alert-success"></div>
                <form class="forms" id="kontak-form" action="{{ 'kontak-kami' | link }}" method="post">
                    <fieldset>
                        <ol>
                            <li class="form-row text-input-row name-field">
                                <input type="text" name="Contact[name]" class="text-input defaultText required" title="Masukkan nama Anda"/>
                            </li>
                            <li class="form-row text-input-row email-field">
                                <input type="text" name="Contact[email]" class="text-input defaultText required email" title="Masukkan email Anda"/>
                            </li>
                            <li class="form-row text-input-row subject-field">
                                <input type="text" name="Contact[subject]" class="text-input defaultText" title="Masukkan judul pesan Anda"/>
                            </li>
                            <li class="form-row text-area-row">
                                <textarea name="Contact[message]" class="text-area required" placeholder="Tuliskan detail pesan Anda"></textarea>
                            </li>
                            <li class="button-row">
                                <input type="submit" value="Kirim" name="submit" class="btn btn-submit bm0" />
                            </li>
                        </ol>
                    </fieldset>
                </form>
            </div>
            <!-- /.form-container -->
        </div>
        <!-- /.span8 -->
        <aside class="span4 sidebar lp20">
            <div class="sidebox widget">
                <h3 class="section-title widget-title">Address</h3>
                <p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur.</p>
                <address>
                    <strong>Marble, Inc.</strong><br>
                    Moon Street Light Avenue, 14/05 <br>
                    Jupiter, JP 80630<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890 <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">first.last@email.com</a>
                </address>
            </div>
            <!-- /.widget -->
        </aside>
        <!-- /.span4 -->
    </div>
    <!-- /.row -->

</div>
<!--/.container -->
{% endblock %}
{% block js %}
<script src="{{ 'js/jquery.slickforms.js' | asset_url }}"></script>
<script type="text/javascript">
    /*$(function () {
       $('form[id="kontak-form"]').submit(function () {
           var action = $(this).attr('action');
           $.ajax({
               'url' : action,
               'dataType' : 'json',
               'type' :'post',
               'success': function(data) {

               }
           });
           return false;
       });
    });*/

    /*-----------------------------------------------------------------------------------*/
    /*	FORM
     /*-----------------------------------------------------------------------------------*/
    jQuery(document).ready(function ($) {
        $('.forms').dcSlickForms();
    });
    $(document).ready(function () {
        $('.comment-form input[title], .comment-form textarea').each(function () {
            if ($(this).val() === '') {
                $(this).val($(this).attr('title'));
            }

            $(this).focus(function () {
                if ($(this).val() == $(this).attr('title')) {
                    $(this).val('').addClass('focused');
                }
            });
            $(this).blur(function () {
                if ($(this).val() === '') {
                    $(this).val($(this).attr('title')).removeClass('focused');
                }
            });
        });
    });
</script>
{% endblock %}