{% extends "layout.html" %}
{% block pagetitle %}
{{ App.name }} - Layanan
{% endblock %}

{% block content %}
<div class="offset"></div>
<div class="container inner">
    <h3 class="section-title">Layanan</h3>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <div class="divide30"></div>
    <div class="row services">
        <div class="span3">
            <div class="icon-wrapper purple">
                <div class="icon"> <img src="{{ 'images/icon/icon-lamp.png' | asset_url }}" alt="" /> </div>
                <!-- /.icon -->
            </div>
            <!-- /.icon-wrapper -->
            <h4>Creative Ideas</h4>
            <p>Nulla vitae  libero, a pharetra augue. Integer posuere a ante venenatis  nulla. Nullam quis risus eget urna mollis ornare.</p>
        </div>
        <!-- /.span3 -->
        <div class="span3">
            <div class="icon-wrapper red">
                <div class="icon"> <img src="{{ 'images/icon/icon-clock.png' | asset_url }}" alt="" /> </div>
                <!-- /.icon -->
            </div>
            <!-- /.icon-wrapper -->
            <h4>Rapid Solutions</h4>
            <p>Vestibulum id ligula porta  euismod semper. Aenean lacinia bibendum nulla sed. Maecenas sed diam eget risus.</p>
        </div>
        <!-- /.span3 -->
        <div class="span3">
            <div class="icon-wrapper blue">
                <div class="icon"> <img src="{{ 'images/icon/icon-tube2.png' | asset_url }}" alt="" /> </div>
                <!-- /.icon -->
            </div>
            <!-- /.icon-wrapper -->
            <h4>Magic Touch</h4>
            <p>Fusce dapibus commodo, tortor mauris condimentum nibh, ut fermentum massa justo. Sed posuere consectetur est.</p>
        </div>
        <!-- /.span3 -->
        <div class="span3">
            <div class="icon-wrapper yellow">
                <div class="icon"> <img src="{{ 'images/icon/icon-ticket.png' | asset_url }}" alt="" /> </div>
                <!-- /.icon -->
            </div>
            <!-- /.icon-wrapper -->
            <h4>Award Winning</h4>
            <p>Aenean eu leo quam. Pellente ornare sem lacinia quam venenatis vestibulum sagittis. Nullam quis risus eget urna.</p>
        </div>
        <!-- /.span3 -->
    </div>
    <!-- /.row -->

    <hr />
    <p class="lead">Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
    <div class="divide30"></div>
    <div class="row">
        <div class="span6">
            <h3 class="section-title">Kenapa Memilih Kami?</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.</p>
            <div class="divide10"></div>
            <ul id="myTab" class="nav nav-tabs bm0">
                <li class="active"><a href="#tab1" data-toggle="tab">This is</a></li>
                <li><a href="#tab2" data-toggle="tab">Tabbed</a></li>
                <li><a href="#tab3" data-toggle="tab">Content</a></li>
            </ul>
            <!-- /.nav-tabs -->
            <div id="myTabContent" class="tab-content box">
                <div class="tab-pane fade in active" id="tab1">
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna.</p>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane fade" id="tab2">
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum.</p>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane fade" id="tab3">
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur.</p>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->

        </div>
        <!-- /.span6 -->

        <div class="span6">
            <h4 class="section-title">Our Skills</h4>
            <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. Etiam adipiscingmorbi vitae magna tellus, ac mattis urna phasellus rhoncus.</p>
            <div class="divide10"></div>
            <ul class="progress-list">
                <li>
                    <p>PHP <em>99%</em></p>
                    <div class="progress plain">
                        <div class="bar" style="width: 99%;"></div>
                    </div>
                </li>
                <li>
                    <p>CSS/HTML <em>93%</em></p>
                    <div class="progress plain">
                        <div class="bar" style="width: 93%;"></div>
                    </div>
                </li>
                <li>
                    <p>Javascript/jQuery <em>95%</em></p>
                    <div class="progress plain">
                        <div class="bar" style="width: 95%;"></div>
                    </div>
                </li>
                <li>
                    <p>SEO <em>90%</em></p>
                    <div class="progress plain">
                        <div class="bar" style="width: 90%;"></div>
                    </div>
                </li>
            </ul>
            <!-- /.progress-list -->
        </div>
        <!-- /.span6 -->
    </div>
    <!-- /.row -->

</div>
<!--/.container -->
{% endblock %}