<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
    <link href="{{ 'css/bootstrap.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'css/settings.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'js/google-code-prettify/prettify.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'css/style.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'css/color/green.css' | asset_url }}" rel="stylesheet">
    <link href='{{ "fonts.googleapis.com/css4ef4.css?family=Roboto:400,400italic,500,500italic,700italic,700,900,900italic,300italic,300,100italic,100" | asset_url }}' rel='stylesheet' type='text/css'>
    <link href='{{ "fonts.googleapis.com/cssc7ef.css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300" | asset_url }}' rel='stylesheet' type='text/css'>
    <link href='{{ "fonts.googleapis.com/css6cc7.css?family=Roboto+Slab:400,700,300,100" | asset_url }}' rel='stylesheet' type='text/css'>
    <link href="style/type/fontello.css" rel="stylesheet">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="style/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
{% block content %}
{% endblock %}
{% block js %}
    <script src="{{ 'js/jquery.js' | asset_url }}"></script>
    <script src="{{ 'js/bootstrap.min.js' | asset_url }}"></script>
    <script src="{{ 'js/twitter-bootstrap-hover-dropdown.min.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.themepunch.plugins.min.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.themepunch.revolution.min.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.themepunch.showbizpro.min.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.isotope.min.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.hoverdir.min.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.slickforms.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.easytabs.min.js' | asset_url }}"></script>
    <script src="{{ 'js/jquery.fitvids.js' | asset_url }}"></script>
    <script src="{{ 'js/view.min9df2.js?auto' | asset_url }}"></script>
    <script src="{{ 'js/scripts.js' | asset_url }}"></script>
{% endblock %}
</body>
</html>