{% extends "partial/layout.html" %}
{% block pagetitle %}
Tentang Kami - {{ App.name }}
{% endblock %}

{% block content %}
<div class="offset"></div>
<div class="container inner">
    <h3 class="section-title">Tentang Kami</h3>
    <div class="row">
        <div class="span3 rp10">
            <figure class="media-wrapper"><img src="{{ 'images/art/ceo.jpg' | asset_url }}" alt="" /></figure>
        </div>
        <!-- /.span3 -->
        <div class="span9">
            <p class="lead"> Vestibulum ligut praesent commodo cursus magna, scelerisque  sit consectetur et. Cum sociis natoque penatibus et magnis dis tellus parturient pharetra montes nulla non metus auctor fringilla. Aenean eu leo quam pellentesque ornare sem.</p>
            <div class="divide10"></div>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit, fusce dapibus, tellus ac cursus commodo. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p>
        </div>
        <!-- /.span9 -->
    </div>
    <!-- /.row -->

    <div class="divide50"></div>
    <div class="row">
        <div class="span4">
            <h4 class="section-title">Apa yang kami kerjakan?</h4>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. </p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus sed posuere. Praesent commodo cursus magna, vel scelerisque nisl.</p>
        </div>
        <!-- /.span4 -->
        <div class="span4">
            <h4 class="section-title">Proses kerja kami?</h4>
            <p>Duis mollis, est non commodo luctus, nisi porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam.</p>
            <ol>
                <li>Vivamus sagittis lacus vel augue laoreet rutrum.</li>
                <li>Cras mattis consectetur purus sit amet fermentum.</li>
                <li>Vestibulum id ligula porta felis euismod semper.</li>
                <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ol>
        </div>
        <!-- /.span4 -->
        <div class="span4">
            <h4 class="section-title">Mengapa memilih kami?</h4>
            <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <ul class="bullet">
                <li>Donec ullamcorper nulla non metus auctor.</li>
                <li>Cras justo odio, dapibus ac facilisis in egestas.</li>
                <li>Praesent commodo cursus magna.</li>
                <li>Curabitur blandit tempus porttitor.</li>
            </ul>
        </div>
        <!-- /.span4 -->
    </div>
    <!-- /.row -->
    <div class="divide30"></div>
    <div class="text-center"> <a href="#" class="btn"><i class="icon-paper-plane rp15"></i> Hire Us</a> </div>
</div>
<!--/.container -->

<div class="dark-wrapper">
    <div class="container inner">
        <div id="testimonials" class="tab-container">
            <div class="panel-container">
                <div id="tst1"> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna. <span class="author">Nikolas Brooten</span> </div>
                <div id="tst2"> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. <span class="author">Coriss Ambady</span> </div>
                <div id="tst3"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. <span class="author">Barclay Widerski</span> </div>
                <div id="tst4"> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at eget metus. <span class="author">Elsie Spear</span> </div>
            </div>
            <ul class="etabs">
                <li class="tab"><a href="#tst1">1</a></li>
                <li class="tab"><a href="#tst2">2</a></li>
                <li class="tab"><a href="#tst3">3</a></li>
                <li class="tab"><a href="#tst4">4</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
